app-navbar

app-spinner(*ngIf="isLoading")
.container.task-form(*ngIf="!isLoading && task")
  .row
    .col
      h2
        span(*ngIf="taskId") Edit Task
        span(*ngIf="!taskId") Create Task
        hr

  form(#taskForm="ngForm" '(ngSubmit)'="saveTask()")
    .row.mb-3
      .col
        input.form-control(
          name="taskName"
          type="text"
          placeholder="Task name"
          required="true"
          #taskName="ngModel"
          '[(ngModel)]'="task.name"
          '[disabled]'="isSaving"
          '[ngClass]'="{ 'is-invalid': taskName.invalid && (taskName.dirty || taskName.touched)}"
        )
    .row.mb-3
      .col
        .form-check
          input.form-check-input(type="checkbox" id="taskDone")
          label.form-check-label(for="taskDone") Done
    .row
      .col.text-end
        button.btn.btn-primary.me-1(
          type="submit"
          '[disabled]'="!taskForm.form.valid || isSaving"
        ) Save
        a.btn.btn-secondary(routerLink="/tasks") Cancel
