am-navbar

am-spinner(*ngIf="isLoading")
.container(*ngIf="!isLoading && user")
  h2
    span(*ngIf="userId") Edit User
    span(*ngIf="!userId") Create User
    hr

  form(#userForm="ngForm" '(ngSubmit)'="saveUser()")
    .form-group.row
      label.col-md-3.col-form-label(for="name") Name*
      .col-md-9
        input.form-control(
          id="name"
          name="name"
          type="text"
          placeholder="Name"
          required="true"
          #name="ngModel"
          '[(ngModel)]'="user.name"
          '[disabled]'="isSaving"
          '[ngClass]'="{ 'is-invalid': name.invalid && (name.dirty || name.touched)}"
        )
        .invalid-feedback Name is required

    .form-group.row
      label.col-md-3.col-form-label(for="email") Email*
      .col-md-9
        input.form-control(
          id="email"
          name="email"
          type="email"
          placeholder="Email"
          required="true"
          #email="ngModel"
          '[(ngModel)]'="user.email"
          '[disabled]'="isSaving"
          '[ngClass]'="{ 'is-invalid': email.invalid && (email.dirty || email.touched)}"
        )
        .invalid-feedback Email is required

    .buttons.text-right
      a.btn.btn-light(routerLink="/users") Cancel
      button.btn.btn-primary(
        type="submit"
        '[disabled]'="!userForm.form.valid || isSaving"
      ) Save
