app-navbar

app-spinner(*ngIf="isLoading")
.container.user-form(*ngIf="!isLoading && user")
  .row
    .col
      h2
        span(*ngIf="userId") Edit User
        span(*ngIf="!userId") Create User
        hr

  form(#userForm="ngForm" '(ngSubmit)'="saveUser()")
    .mb-3
      label.form-label(for="userName") Name*
      input.form-control(
        id="userName"
        type="text"
        placeholder="User name"
        required="true"
        #userName="ngModel"
        '[(ngModel)]'="user.name"
        '[disabled]'="isSaving"
        '[ngClass]'="{ 'is-invalid': userName.invalid && (userName.dirty || userName.touched)}"
      )
    .mb-3
      label.form-label(for="userEmail") Email*
      input.form-control(
        id="userEmail"
        type="email"
        placeholder="User email"
        required="true"
        #userEmail="ngModel"
        '[(ngModel)]'="user.email"
        '[disabled]'="isSaving"
        '[ngClass]'="{ 'is-invalid': userEmail.invalid && (userEmail.dirty || userEmail.touched)}"
      )
    .buttons
      a.btn.btn-light(routerLink="/users") Cancel
      button.btn.btn-primary(
        type="submit"
        '[disabled]'="!userForm.form.valid || isSaving"
      ) Save
